<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!-- 配置连接池: -->
    <!-- 引入外部属性文件 -->
    <context:property-placeholder location="classpath:jdbc.properties" />
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}" />
        <property name="jdbcUrl" value="${jdbc.url}" />
        <property name="user" value="${jdbc.user}" />
        <property name="password" value="${jdbc.password}" />
    </bean>

    <!-- Hibernate配置相关文件 -->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <!-- 注入连接池 -->
        <property name="dataSource" ref="dataSource" />
        <!-- 配置Hibernate的其他的属性 -->
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.connection.autocommit">false</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
        <!-- 配置Hibernate的映射文件 -->
        <property name="mappingResources">
            <list>
                <value>com/schsource/users/vo/Users.hbm.xml</value>
                <value>com/schsource/school/vo/School.hbm.xml</value>
                <value>com/schsource/type/vo/Type.hbm.xml</value>
            </list>
        </property>
    </bean>

    <!-- 事务管理: -->
    <!-- 事务管理器 -->
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <!-- 注解事务 -->
    <tx:annotation-driven transaction-manager="transactionManager" />

    <!-- 配置Action层 -->
    <bean id="usersAction" class="com.schsource.users.action.UsersAction">
        <property name="usersService" ref="usersService"/>
    </bean>
    <bean id="schoolAction" class="com.schsource.school.action.SchoolAction">
        <property name="schoolService" ref="schoolService"/>
    </bean>
    <bean id="typeAction" class="com.schsource.type.action.TypeAction">
        <property name="typeService" ref="typeService"/>
    </bean>

    <!-- 配置service层 -->
    <bean id="schoolService" class="com.schsource.school.service.SchoolService">
        <property name="schoolDao" ref="schoolDao"/>
    </bean>
    <bean id="usersService" class="com.schsource.users.service.UsersService">
        <property name="usersDao" ref="usersDao"/>
    </bean>
    <bean id="typeService" class="com.schsource.type.service.TypeService">
        <property name="typeDao" ref="typeDao"/>
    </bean>

    <!-- 配置dao层 -->
    <bean id="usersDao" class="com.schsource.users.dao.UsersDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="schoolDao" class="com.schsource.school.dao.SchoolDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="typeDao" class="com.schsource.type.dao.TypeDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
</beans>